


nav
    {
        background: red;
        border-color: #ae142a !important;
        text-transform: uppercase !important;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
        font-weight: 700;
        color: #fff !important;
        background-color: #3488D1 !important;
        padding: 8px 10px !important;
}

li {
  border-color: white;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: black;
  background-color: white;
}

form {
    /* Just to center the form on the page */
    margin: top 0;
    width: 800px;
    /* To see the outline of the form */
    padding: 1em;
    border: none;
    border-radius: 1em;
}

label {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: black;
}

.legend {
    font-size: 200px;
 }
 h1{
    color: #1428c3;
    align:center;
 }
